<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jahon yangiliklari</title>
</head>
<body>
<a href="{% url 'sahifa' %}">bosh sahifa</a>/
<a href="{% url 'yangilik' %}">yangiliklar</a>/
<a href="{% url 'sahifaa' %}">aloqa</a>/
<a href="{% url 'jahon' %}">jahon yangiliklari</a>/
<a href="{% url 'sport' %}">sport yangiliklari</a>/
<h1>aslomalekum jahon yangiliklariga xush kelipsiz</h1>
<p>Ukraina, Amerika va Britaniya harbiylari Kiyevning qarshi
    hujumini tayyorlash chog‘ida stol ustidagi xaritalar ustiga figuralar
    qo‘yib, kompyuterdagi «harbiy o‘yinlar»dan foydalanishgan, deb yozadi Washington Post nashri.
    «Biroq, Vashington qisqa muddat ichida Ukraina qurolli kuchlari
    g‘arb namunasidagi jangovar kuchga aylanishi, ayniqsa, Kiyevning harbiy havo
    kuchlarisiz zamonaviy qurolli kuchlarning ajralmas qismiga aylantirish borasida qattiq adashgan», deb yozadi nashr.
    Amerikaliklar va ukrainlarning fikri vaqti-vaqti bilan strategiya
    va taktika borasida keskin farqlangan. Pentagon qarshi hujum o‘z
    pozitsiyalarini mustahkamlashda davom etayotgan RF qurolli kuchlariga xalaqit berish uchun ap
    rel oyi o‘rtalarida boshlanishini istagan. Ukrainaliklar esa qo‘shimcha qurol-yarog‘
    lar va tayyorgarliksiz bunga tayyor emasliklarini aytib, ikkilanishgan.
    O‘sha vaqtda Ukrainada mavjud imkoniyatlar bilan Rossiya pozitsiyalariga mexanizatsiyalashgan
    yuzma-yuz hujumni amalga oshirish imkonli ekaniga AQSh harbiylarining ishonchi komil bo‘lgan.
    Modellashtirish shuni ko‘rsatganki, Ukraina qurolli kuchlari Azov dengiziga chiqish va janubda rus qo‘
    shinlarini qirqib qo‘yishni 60-90 kun ichida eplashi mumkin bo‘lgan. AQSh razvedkasi muva
    ffaqiyatga 50 foiz imkoniyat bergan, deb qayd etadi Washington Post.
    AQSh janubiy yo‘nalish bo‘ylab maqsadli qarshi hujumni yoqlagan, Ukraina rahbariyati esa u
    chta yo‘nalish: Melitopol, Berdyansk va Baxmut bo‘ylab hujum qilishni istagan. Ukraina
    qat’iy qarshi hujumda ko‘plab yo‘qotishlarga duchor bo‘lishidan cho‘chigan, AQSh esa vaqt
    o‘tishi bilan baribir yo‘qotishlar bundan-da ko‘proq bo‘ladi, deb hisoblagan.
    15 iyunda, qarshi hujum boshlanganidan 2 hafta o‘tib AQSh mudofaa vaziri Lloyd Ostin ukrainal
    ik hamkasbi Reznikovdan nega Ukraina QK tutun pardasi ortida harakat qilishi mumkin bo‘lgan,
    yanada qamrovli mexanizatsiyalashgan g‘arb texnikasidan minalardan tozalashda foydalanmayapti, deb so‘ragan.
    Ukraina mudofaa vazirligining sobiq rahbari bu qarorni Ukraina harbiy qo‘mondonlari qabul
    qilganini aytib, Ukrainaning zirhli texnikalarini Rossiya vertolyotlari, pilotsiz parvoz
    qurilmalari va artilleriyasi oldinga siljishga har bir urinishda yo‘q qilayotgani,
    havodan qo‘llov bo‘lmagan holatda yagona variant yayov hujumga o‘tish bo‘lib qolayotganini aytgan.
</p>
</body>
</html>